.button1 {
    min-width: 80px;
    height: 30px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px #412806;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    margin-top: -18px;
    margin-left: -1100px;
    background-color: #847e79;
  }
  
  .button1:hover {
    background-color: #524b43;
    color: #d3d0d0;
    transform: translateY(-5px);
  }
  .button2 {
    min-width: 80px;
    height: 30px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px #412806;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    margin-top: -18px;
    margin-left: -1200px;
    background-color: #847e79
  }
  
  .button2:hover {
    background-color: #524b43;
    color: #d3d0d0;
    transform: translateY(-5px);
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #0b1324;
    color: #fff;
    height: 60px;
    padding: 0 40px;
    opacity: 0.92;
  }